* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting,
.why-us,
.our-mission,
.warehousing,
.office-space,
.cross-docking,
.assembly-services,
.fulfillment,
.wms-system,
.integration,
.motion-sensor-lighting,
.electric-machinery,
.aurora,
.dallas,
.charlotte,
.paragraph {
  display: flex;
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.heading {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 100px;
}

.subheading {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 40px;
}

.paragraph {
  padding-top:0px;
  padding-bottom: 0px;
  padding-left: 80px;
  padding-right: 80px;
  display: block;
  align-items: center;
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  margin: auto;
  color:#000;
  font-size: 24px;
}

img {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  margin: auto;
  display: block;
}

.li-div {
  display: block;
  margin: auto;
  width: 75%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.services-list {
  margin:auto;
  text-align: left;
  list-style: inside;
  padding-left: 40px;
  height:auto;
  list-style-type: square;
  font-size: 24px;
}



.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.why-us {
  background-image: url('./images/why-us.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.our-mission {
  background-image: url('./images/our-mission.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.warehousing {
  background-image: url('./images/warehousing.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.cross-docking {
  background-image: url('./images/cross-docking.jpg');
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.fulfillment {
  background-image: url('./images/fulfillment.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.office-space {
  background-image: url('./images/office.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.assembly-services {
  background-image: url('./images/assembly-services.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.wms-system {
  background-image: url('./images/wms-system.jpg');
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.integration {
  background-image: url('./images/integration.jpg');
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.motion-sensor-lighting {
  background-image: url('./images/motion-sensor-lighting.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.electric-machinery {
  background-image: url('./images/electric-machinery.jpg');
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.aurora {
  background-image: url('./images/aurora.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.dallas {
  background-image: url('./images/dallas.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.charlotte {
  background-image: url('./images/charlotte.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}